INSTALL
Makefile
*.in
*.in~
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
plugins/.deps/
plugins/.libs/
plugins/Makefile
plugins/libgstvimba*
stamp-h1
tools/.deps/
tools/Makefile
tools/gst-vimba
tools/gst_vimba-gstvimba.o
tags
plugins/tags
